@if (this.hide() !== true) {
<div class="p-2 lg:p-8">
    <div class="card bg-base-300 shadow-xl mb-4">
        <div class="card-body">
            <h2 class="card-title mb-4">🖥️ OLED Burn-in Checkr</h2>
            <p class="opacity-60">
                A simple web application to test OLED screens for burn-in issues.<br />
                If you find this project useful, please consider leaving a star <a href="" target="_blank" class="link">here</a> ⭐
            </p>
        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div class="card bg-base-300 shadow-xl">
            <div class="card-body">
                <h2 class="card-title mb-4">❓ How to use ?</h2>
                <p class="opacity-60 mb-4">This application is straightforward to use. Just follow these steps:</p>
                <ul class="list-disc list-inside opacity-60 mb-4">
                    <li>Choose a color from the card on the right (or below on smaller screens).</li>
                    <li>Click the fullscreen button to test your screen.</li>
                    <li>Press <kbd class="kbd">Esc</kbd> to exit fullscreen mode.</li>
                </ul>
                <p class="opacity-60">You can also use the <kbd class="kbd">F11</kbd> key to toggle fullscreen mode in most browsers.</p>
            </div>
        </div>

        <div class="card bg-base-300 shadow-xl">
            <div class="card-body">
                <h2 class="card-title mb-4">🎨 Choose a color</h2>
                <p class="opacity-60 mb-4">Click on a color below to select it. The selected color will be used for the burn-in test.</p>
                <div class="grid grid-cols-2 lg:grid-cols-5 gap-4">
                    @for (color of this.colors; track $index) {
                    <button class="btn w-full" [style.background-color]="color" (click)="this.changeBackgroundColor(color)"></button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col lg:flex-row mt-4 gap-4">
        <button class="btn btn-primary w-full lg:w-50" (click)="this.resetTheme()">Reset theme</button>
        <div class="tooltip tooltip-bottom" data-tip="Click anywhere to show the interface after hiding it">
            <button class="btn btn-primary w-full lg:w-50" (click)="this.toggle()">Hide interface</button>
        </div>
        <div class="tooltip tooltip-bottom" data-tip="Press Esc to exit fullscreen mode">
            <button class="btn btn-primary w-full lg:w-50" (click)="this.fullscreen()">Go fullscreen</button>
        </div>
    </div>
</div>
} @else {
<button class="fixed inset-0 w-full h-full bg-transparent z-50" (click)="this.toggle()" aria-label="Show interface"></button>
}
